[Unit]
Description=HushWire Exit Node (%i)
Documentation=https://github.com/yourname/hushwire
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hushwire up -c /etc/hushwire/%i.toml --exit-node
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
